
@media only screen and (max-width:1150px){
    .instructions #result{
        width: 42rem;
        height: 15rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .instructions #result h2{
        margin-top: 2.2rem;
    }
    header{
        height:61vh;
    }
    nav{
        margin: 0 1rem;
    }
    nav .nav_title{
        font-size: 2.2rem;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .drag-area{
        height:15rem;
        margin: 1rem auto;
        width: 20rem !important;
    }
    .drag-area .icn{
        font-size: 4rem;
    }
    .drag-area .drag-text{
        text-align: center;
    }
    .drag-area .drag-text h2{
        padding: 0;
    }
    .drag-area .drag-text span{
        padding-top: 13px;
    }
    .slider-container{
        width: 191px;
        height: 33vh;
    }
    
}
@media only screen and (max-width:900px){
    .grid-container .grid{
        grid-template-columns: repeat(auto-fit,13rem);
    }
    .grid .grid-photo{
        height: 13rem;
    }
}
@media only screen and (max-width:750px){
    .instructions .instruction1{
        width: 16rem;
        margin: auto;
    }
    .instructions #result{
        width: 16rem;
        margin: auto;
        height: 18rem;
    }
    .grid-container{
        width: 99%;
        margin: auto;
    }
    .grid-container .grid{
        grid-template-columns: repeat(auto-fit,11rem);
        gap: 20px;
    }
    .grid .grid-photo{
        height: 11rem;
    }
}

@media only screen and (max-width:500px){ 
    .grid-container{
        width: 100%;
        border: 2px solid orangered;
    }
     .grid{
        grid-template-columns:repeat(2,1fr);

    }
    .grid .grid-photo{
        /* height: 7rem; */
    }
} 
    